<!DOCTYPE html>
<html ng-app="app" dir="{{SelectedLang == 'URD' ? 'rtl' : 'auto'}}">  <!--dir="{{SelectedLang == 'URD' ? 'rtl' : 'auto'}}"-->
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        
                 
        <script src="cordova.js" type="text/javascript"></script>
        <script src="scripts/vendor/angular.min.js"></script>
        <script src="scripts/vendor/angular-route.js"></script>
        <script src="scripts/vendor/angular-animate.min.js"></script>
        <script src="scripts/vendor/angular-touch.js"></script>
        <script src="scripts/vendor/angular-aria.min.js"></script>
        <script src="scripts/vendor/angular-messages.min.js"></script>
        <script src="scripts/vendor/angular-sanitize.min.js"></script>
        <script src="scripts/vendor/angular-material.min.js"></script>
        <script src="scripts/vendor/ui-bootstrap-tpls-1.3.2.min.js"></script>
        <script src="scripts/vendor/angular-material-calendar.js"></script>
        <script src="scripts/vendor/jquery-3.1.1.min.js"></script>
        <script src="scripts/vendor/angular-material-icons.min.js"></script>
        <script src="scripts/vendor/ngMask.min.js"></script>
        <script src="scripts/vendor/bower-angular-translate-2.9.0.1/angular-translate.min.js?v=1"></script>
        <script src="scripts/vendor/bower-angular-translate-loader-partial-master/angular-translate-loader-partial.min.js?v=1"></script>
        
        <script src="scripts/vendor/amcharts/4.6.3/core.js"></script>
        <script src="scripts/vendor/amcharts/4.6.3/charts.js"></script>
        <script src="scripts/vendor/amcharts/4.6.3/themes/dark.js"></script>
        <script src="scripts/vendor/amcharts/4.6.3/themes/animated.js"></script>

        <script type="text/javascript" src="scripts/vendor/Chart.min.js"></script>
        <script type="text/javascript" src="scripts/vendor/index.umd.js"></script>
                
        <title>App</title>
    </head>
    <body layout="row" ng-controller="mainController" id="objMain">
        <div class="scCMPosition scCMCenterXY" style="background: rgba(12, 12, 12, 0.32);z-index: 9999; " ng-show="showBusy">
			<div name="dvBusyCursor" class="scLoadPanel">
				<md-progress-circular class="md-accent md-hue-3 scLoading" md-diameter="48"></md-progress-circular>
			</div>
        </div>
        
        <div  ng-show="minVersionDialoge">
            <div ng-include="'minVersionPopup.html'" ></div>
        </div>
				
		<md-sidenav layout="column" class="{{SelectedLang == 'URD' ? 'md-sidenav-left' : 'md-sidenav-right' }} " md-component-id="left" md-is-open="isSidenavOpen" md-is-locked-open="$mdMedia('gt-md')" style="overflow: hidden; box-shadow: 0px 0px 8px #423c3c;">
            <div class="row scRow scSideNaveHeader scCMCenterXY">
                <div class="scCMFullWDHT {{$root.ProfilePhoto == null ? 'scCMCenterXY' : ''}}">
                    <div class="scCMUserBox scCMCenterXY" ng-if="$root.ProfilePhoto == null" style="margin-bottom: 54px;">                        
                        <span class="scCMCenterXY"><i class="scCMCenterXY fa fa-user-o"></i></span>
                    </div>
                    <div class="scCMUserBox scCMCenterXY scCMUserPic" ng-if="$root.ProfilePhoto != null">                        
                        <img class="scImageAspectRatio" ng-src="{{$root.ProfilePhoto}}" alt="Image" />
                    </div>
                    <div class="scCMFullWD scCMUserBoxDetails scCMPosition">
                        <h5 class="scCMTextOverflow scCMUserName">{{navHeaderName}}</h5>
                        <h6 class="scCMUserDlt">{{navHeaderId}}</h6>
                    </div>
                </div>
            </div>
            <md-list class="scNoPadding scCMNavList" as-scroll-nav>
                <div class="example-scrolling-content" (scroll)="handleScroll($event)">
                    <md-item ng-repeat="item in AppMenu" ng-if="item.show">
                        <a ng-click="openParentPage(item)" class="{{item.pageCode == $root.CurrentPageCode ? 'scCNSelectedMnu' : ''}}">
                            <md-item-content layout="row" layout-align="start center" class="scCMNavItem">
                                <div class="inset" style="padding: 0; display: flex;">
                                    <span class="scCMCenterXY"><i class="scCMCenterXY fa {{item.icon}}"></i></span>
                                </div>
                                <div class="inset">
                                    {{item.title}}
                                </div>
                                <div ng-show="item.SLPending != null">
                                    <span class="scSpanCount scCMCenterXY" style="right: 45px;" ng-show="{{item.showCount}}">{{item.SLPending}}</span>
                                </div>
                                <div ng-show="item.SLError != null">
                                    <span class="scSpanCount scCMCenterXY" style="background: #ff5757;">{{item.SLError}}</span>
                                </div>
                            </md-item-content>
                        </a>
                    </md-item>
                    <div class="scTopGradient"></div>
                    <div class="scBottomGradient"></div>
                </div>
            </md-list>
            <div class="scCMPosition scCMCenterXY" style="height: 56px; top: unset; background: #ececec;">
                <img style="width: auto; height: 80%;" src="images/app_logo.png"></img>
            </div>
        </md-sidenav>
		 <div layout="column" class="relative" layout-fill role="main" style="position: fixed">
            <div ng-view style="height: calc(100% - {{FooterNavi.show ? '60px' : '0px'}}); position: relative;"></div>
            <as-menu items="FooterNavi.items" ng-show="FooterNavi.show" click="openParentPage(item)" style="z-index: 20;"></as-menu>
        </div>
    </body>
</html>
